[Unit]
Description=Auto-adjust refresh rate when power profile changes

[Service]
ExecStart=/bin/bash -c '\
  LAST=""; \
  while true; do \
    CUR=$(powerprofilesctl get); \
    if [ "$CUR" != "$LAST" ]; then \
      /home/mitja/Documents/Scripts/power-refresh.sh; \
      LAST=$CUR; \
    fi; \
    sleep 5; \
  done \
'

Restart=always

[Install]
WantedBy=default.target

